<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navigation") %>
    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa minus
          quod nulla animi vel natus provident, officia possimus in sit, magnam
          ut error aliquid ratione reiciendis vitae ullam veniam, illo adipisci
          consectetur repellat quaerat amet! Harum ullam delectus temporibus
          molestiae, ducimus enim sit quibusdam est, sunt reiciendis cum numquam
          odio dignissimos exercitationem velit vel fuga veniam sed fugit
          laudantium esse nemo! Tempora magni officia rem facere consequatur
          exercitationem suscipit. Iusto officia sunt exercitationem molestias
          aliquam quod veritatis pariatur itaque maiores fuga dolores illum,
          fugit ducimus. Expedita ab iure asperiores laboriosam eius architecto
          quaerat quas eligendi dolor sed quod eaque ut facere esse ipsa
          blanditiis perspiciatis, cumque soluta, atque incidunt nisi. Est animi
          ea recusandae dolores repellat deleniti, amet quis vero eum totam
          aspernatur culpa accusantium dolorem velit similique placeat nisi
          debitis odit delectus aperiam nesciunt inventore? Voluptate
          accusantium ipsam eligendi necessitatibus sapiente dolore repudiandae
          libero maiores unde quae, voluptatem dignissimos. Amet adipisci
          minima, libero ab esse pariatur excepturi officia alias quas tempora
          veritatis, corporis impedit eligendi unde nulla expedita optio fugit
          iure laudantium laborum quos. Iusto autem eaque eligendi eveniet, quod
          earum ratione nam rerum sit veritatis sequi est mollitia non inventore
          assumenda esse illo, enim nostrum repellendus illum! Laudantium.
        </p>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
